.menu-bar {
    width: 100%;
    margin: auto;
    background-color: rgba(65, 138, 183, 0.868);
}
.menu-bar ul{
    text-align: center;
    padding: 2px;
    margin: 2px;
}
.menu-bar ul li{
    display: inline-block;
    margin: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size:20px;
    color: #ffffff;
    transition: all 0.3s linear;
}
.menu-bar ul li:hover a{
    font-size: 24px;
    background-color: rgba(76, 166, 222, 0.599);
    color: red;
}
.content-developer ul{
    color: white;
    margin: 0;
    padding: 0 ;
    text-align: center;

}
.developer-images ul{
    text-align: center;
}
.content-admin ul{
    color: #ffffff;
    margin: 0;
    padding: 0 ;
    text-align: center;
}
.admin-images{
    text-align: center;
}
.content-support-team ul{
    color: #ffffff;
    margin: 0;
    padding: 0 ;
    text-align: center;
}
.support-images{
    text-align: center;
}
.footer-bar{
    background-color: rgba(65, 138, 183, 0.868);
    width: 100%;
    margin: auto;
}
.footer-bar ul{
    text-align: center;
    padding: 2px;
    margin: 2px;
}
.footer-bar ul li{
    display: inline-block;
    margin: 15px;

}
.footer-bar ul li a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size:20px;
    color: #ffffff;
    transition: all 0.3s linear;
}
.footer-bar ul li:hover a{
    font-size: 24px;
    background-color: rgba(51, 49, 49, 0.486);
    color: red;
}
.menu-bar{
    background-color: rgba(65, 138, 183, 0.868);
    width: 100%;
    margin: auto;
}
.menu-bar ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.menus-bar ul li{
    display: inline-block;
}
.menu-bar ul li a{
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.03s linear;
}
.menu-bar ul li:hover a{
    font-size: 24px;
    background-color: rgba(76, 166, 222, 0.599);
    color: red;
}
.content{
    width: 95%;
    margin: auto;
}
.table-menu{
    background-color: #6f6c6ca3;
    width: 99%;
    height: 300px;
    margin: 10px;
}
.picture-content{
    padding: 25px;
    padding-left: 33px;
    display: inline-block;
    letter-spacing: 30px;
}

